/* 颜色 */
$bg-bai       :#fff;
$bg-hui-1     :#f7f7f7;
$bg-lan-f2fbff:#f2fbff;
$bg-lan-355e92:#355e92;
$bg-lan-4a97d8:#4a97d8;
$bg-lan-5b7da8:#5b7da8;


/*变线*/
$border-lan-cfe3fd:#cfe3fd;
$border-lan-e2e8f0:#e2e8f0;

/*圆角*/
$br-15:15px;

/* 字体大小 */
$size-title:61px;

/* 渐变*/
$shadow-000:rgba(#000, 0.1);